public/images
/public/hot
/public/storage
public/js/app.js
public/css/app.css
public/mix-manifest.json
public/vendor
/node_modules
/storage/*.key
storage/debugbar
/storage/ssl
/storage/app
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.logpublic/css/app.css
.idea
