@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* Colors */
.bg-primary {
    background-color: #47C2F2;
}
.bg-secondary {
    background-color: #00ECB0;
}

a {
    @apply no-underline;
    transition: all .2s ease !important;
}
a:hover {
    @apply no-underline;
}
.h-link:hover {
    @apply translate-r-2 no-underline font-semibold;
}
.translate-r-2 {
    transform: translateX(2px) !important;
}
.card {
    @apply bg-white shadow rounded-lg border-none;
}
.card:hover {
    @apply shadow-2xl;
}
.transition {
    -webkit-transition: all .45s ease;
    transition: all .45s ease;
}
.h-transform {
    transform: translateY(5px);
}
.h-input {
    @apply /*form-input*/ block rounded-md shadow-sm w-full bg-white outline-none border-teal-200;
}
.h-input:focus {
    @apply outline-none shadow border-none;
}
.h-select {
    @apply w-full block bg-white text-gray-700 outline-none border-teal-200 rounded-md py-3 px-3;
}
.h-select:focus {
    @apply outline-none shadow border-none;
}
strong.required {
    @apply font-bold text-red-500;
}

/** Algolia Search Components */

/*
* Refinement list/Checkbox
* https://www.algolia.com/doc/api-reference/widgets/refinement-list/vue/#html-output
*/
.ais-refinement-list {

}
.ais-RefinementList-item {
    @apply my-2;
}
.ais-RefinementList-label {
    @apply flex items-center;
}
.ais-RefinementList-labelText {
    @apply ml-3 font-medium text-sm text-gray-600;
}
.ais-RefinementList-checkbox {
    @apply focus:ring-emerald-400 h-4 w-4 text-emerald-400 border-gray-300 rounded;
    transform: scale(1.2);
}
.ais-RefinementList-count {
    @apply rounded-full h-6 w-6 ml-3 flex items-center text-center justify-center shadow-lg bg-teal-400 text-white font-bold text-sm;
}

/* Range List Radio */
.ais-NumericMenu .ais-NumericMenu--noRefinement {

}
.ais-NumericMenu-list {

}
.ais-NumericMenu-item {
    @apply text-xs py-1;
}
.ais-NumericMenu-label {
    @apply font-medium text-sm text-gray-700;
}
.ais-NumericMenu-radio {
    @apply h-4 w-4 text-emerald-400 border-gray-300 rounded-full;
    transform: scale(1.2);
}
.ais-NumericMenu-radio:focus {
    @apply ring-emerald-400;
}
.ais-NumericMenu-labelText {
    @apply ml-3 text-gray-600;
}

/*
* Range Input
* https://www.algolia.com/doc/api-reference/widgets/range-input/vue/#html-output
*/
.ais-RangeInput {
    @apply flex text-black items-center justify-between;
}
.ais-RangeInput-input {
    @apply flex-1 min-w-0 block w-full px-3 py-2 rounded-none sm:text-sm border-gray-300;
}
.ais-RangeInput-input:focus {
    @apply ring-emerald-200 border-emerald-200;
}
.ais-RangeInput-submit {
    @apply hidden;
}
.ais-RangeInput-separator	{
    @apply ml-auto;
}

/*
* Search Box
* https://www.algolia.com/doc/api-reference/widgets/search-box/vue/#html-output
*/

.ais-SearchBox-input {
    @apply flex-1 block w-full px-3 py-2 rounded-md shadow-sm sm:text-sm border-gray-300;
}
.ais-SearchBox-input:focus {
    @apply ring-emerald-200 border-emerald-200;
}
.ais-SearchBox-submit {
    @apply hidden
}
.ais-SearchBox-reset {
    @apply hidden
}


/* Modal Transitions */

.modal-fade-enter {
    @apply ease-out duration-300;
}
.modal-fade-enter-active {
    @apply opacity-0;
}
.modal-fade-enter-to {
    @apply opacity-100;
}
.modal-fade-leave {
    @apply ease-in duration-200;
}
.modal-fade-leave-active {
    @apply opacity-100;
}
.modal-fade-leave-to {
    @apply opacity-0;
}

.modal-dialog-enter {
    transform: translateY(-50%) translateX(100vw);
    opacity: 0;
}
.modal-dialog-enter-active {
    transition: transform .5s;
}
.modal-dialog-enter-to {
    @apply opacity-100 translate-y-0; /*.sm:scale-100*/
}
.modal-dialog-leave {
    @apply ease-in duration-200;
}
.modal-dialog-leave-active {
    transition: transform 1s;

}
.modal-dialog-leave-to {
    transform: translateY(-50%) translateX(100vw);
    opacity: 0;/*.sm:translate-y-0 .sm:scale-95*/
}

[v-cloak] {display: none}


/*.modal-dialog-enter-active, .modal-dialog-leave-active {
    transition: opacity 0.5s;
}
.modal-dialog-enter, .modal-dialog-leave-to !* .fade-leave-active below version 2.1.8 *! {
    opacity: 0;
}*/

